body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.marca{
    color: #DFE5F2;
    margin-left: 16px;
}
header{
    background-color:#1D2659 ;
    padding: 2px;
    width: 100%;
}
.usuario{
    position: fixed;
    top: 10px;      
    right: 10px;    
    display: flex;  
    align-items: center;
    gap: 8px;       
    z-index: 1000;  
    margin-top: 5px;
}
.usuario img {
    width: 50px;   
}
.usuario p {
    color: #DFE5F2;
    font-weight: bold;
}
